* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrusel{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.imagen{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    display: none;
}

.imagen.activa{
    display: block;
}