.carrusel{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.imagen{
    width: 100%;
    height: 600px;
    object-fit: contain;
    display: none;
}

.imagen.activa{
    display: block;
}