
/* ENCABEZADO */
header {
    background-color: #102a43;
    color: white;
    text-align: center;
    padding-top: 30px;
}

header h1 {
    font-size: 38px;
    color: white;
    letter-spacing: 2px;
}

header > p {
    padding: 5px 20px;
}

header > p:nth-of-type(1) {
    color: #58c4ff;
    font-size: 20px;
    font-weight: bold;
}

header > p:nth-of-type(2) {
    max-width: 700px;
    margin: 10px auto 25px;
}

/* MENU */
nav {
    background-color: #0b1f33;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

nav li {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

nav li:hover {
    color: #58c4ff;
}